/* body{
    background-color: #c3def1;
}  */
.SideBar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 420px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #fff;
}
.image{
    height: 40px;
    margin: 15px 0px 15px 220px ;
}
.headerDiv{
    background-color: #fff;
    max-height: 65px;
    max-width: initial ;
    display: flex;
    flex-direction: row;
    position: relative;
}
.empty{
    margin: 0px 0px 0px 60px ;
}
.input{
    width: 400px;
    height: 35px;
    margin: 15px 0px 15px 160px;
    border: 1px solid #cccccc;
}
.btr1{
    margin: 15px;
    height: 35px;
    font-weight: 600;
    font-size: 14px;
}
.contact{
    height: 20px;
    margin: 25px 0px 0px 25px;
    font-weight: bold;
}
.drop{
    cursor: pointer;
    outline: none;
}
.drop:hover{
    border: none;
    outline: none;
}
.DropDown2{
    background-color: #fff;
    color: black;
    border: none;
    font-weight: 500;
    margin-top: 15px;
}
.contact2{
    height: 20px;
    margin: 0px 7px 0px 25px;
    font-weight: bold;
}
.SideBar2{
    margin-bottom: 20px;
}
.img1{
    width: 240px;
    margin: 20px;
    margin-left: 35px;
    border-radius: 10px;
}
.img2{
    width: 240px;
    margin-left: 35px;
    border-radius: 10px;
}
.imagehome{
    height: 420px;
    margin: 20px 0px 0px -5px;
    width: 105%;
    border-radius: 10px;
}
.home2{
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 195px;
    margin-top: 15px;
    border-radius: 10px;
    width: 1211px;
}
.btn{
    background-color: #fff;
    border: none;
    font-size: 13px;
    text-align: start;
}
.btn:hover{
    background-color: #f1f1f1;
}
.btn:visited{
    background-color: #000;
}
.homeimg{
    height: 110px;
    margin: 25px 0px 25px 30px;
    border-radius: 30px;
}
.home3{
    background-color: #e61601;
    margin-left: 195px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 1211px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.image-Name{
    text-align: center;
    margin-top: -22px;
    margin-left: 20px;
}
.Butt{
    margin-top: 20px;
    margin-left: 15px;
    background-color: #fff;
    border: none;
    font-weight: 500;
    outline: none;
}
.paragraph{
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 5px;
    padding: 3px;
    margin: 6px;
}
.paragraph:hover{
    color: #000;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.p,.p1,.p2,.p3,.p4,.p5{
    margin: 5px;
    margin-top: 10px;
}
.p4{
    margin-top: 5px;
}
.p1{
    margin-top: 4px;
}
.p{
    margin-top: 14px;
}
.hoto:hover{
    text-shadow: 2px 2px 4px #000000;
}
.hoto{
    margin-left: 13px;
}
h6{
    margin: 5px;
}
.h6{
    font-size: 12px;
    text-decoration: line-through;
    color: gray;
}
p{
    margin: 5px;
    margin-top: -6px;
}
.second{
    font-size: 20px;
    text-align: center;
    background-color: #fdecf0;
    width: 1211px;
    border-start-end-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: -10px;
}
.second-div{
    position: relative;
    font-size: 20px;
    background-color: #fff;
    margin-left: 195px;
    width: 1211px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.imagefoot{
    width: 595px;
}
.miss{
    font-size: 14px;
}
.miss:hover{
    border: 1px solid #fff;
    box-shadow: 0 10px 10px 6px rgba(0, 0, 0, 0.2), 20px 10px 60px 10px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.second-div1{
    position: relative;
    font-size: 20px;
    background-color: #fff;
    margin-left: 195px;
    width: 1211px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;

}